<ion-view>
  <ion-content class="all">
    <div class="card">
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_4_300_109391904.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>斯柯达汽车·巅峰榜·流行指数</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_26_300_102636799.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·热歌</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_30_300_109394040.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·HUAWEI nova·梦想的声音</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_27_300_109391904.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·新歌</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_28_300_109258572.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·网络歌曲</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_5_300_109210182.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·内地</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_6_300_109212704.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·港台</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_3_300_108781344.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·欧美</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_16_300_109132423.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·韩国</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_17_300_107762026.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·日本</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_32_300_102877697.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·音乐人</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_23_300_109275423.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·畅销</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-thumbnail-left item-icon-right" href="javascript:;">
          <img src="http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_36_300_109359752.jpg?max_age=2592000">
          <div class="topic_info">
            <h3>巅峰榜·K歌金曲</h3>
            <p>
              1
              <span class="text_name">{{songList[1].songname}}</span>
              - {{songList[1].singername}}
            </p>
            <p>
              2
              <span class="text_name">{{songList[2].songname}}</span>
              - {{songList[2].singername}}
            </p>
            <p>
              3
              <span class="text_name">{{songList[3].songname}}</span>
              - {{songList[3].singername}}
            </p>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
      </div>
    </div>
  </ion-content>
</ion-view>