  <ion-view >
    <ion-content class="recom">
      <ion-slide-box auto-play=true does-continue=true>
        <ion-slide>
          <div class="box"><img src="img/banner1.jpg"></div>
        </ion-slide>
        <ion-slide>
          <div class="box"><img src="img/banner2.jpg"></div>
        </ion-slide>
        <ion-slide>
          <div class="box"><img src="img/banner3.jpg"></div>
        </ion-slide>
        <ion-slide>
          <div class="box"><img src="img/banner4.jpg"></div>
        </ion-slide>
        <ion-slide>
          <div class="box"><img src="img/banner5.jpg"></div>
        </ion-slide>
      </ion-slide-box>
      <div class="diantai">
        <h2>电台</h2>
        <div class="row">
          <div class="col">
            <a href="javascript:;">
              <span class="icon ion-play"></span>
              <img src="img/musicImg1.jpg"/> 
              <div class="music_info">
                <h3>跑步电台</h3>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
              <span class="icon ion-play"></span>
              <img src="img/musicImg1.jpg"/>
              <div class="music_info">
                <h3>热歌</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hot">
        <h2>热门歌单</h2>
        <div class="row">
          <div class="col"><a href="javascript:;"></a></div>
          <div class="col"><a href="javascript:;"></a></div>
        </div>
        <div class="row">
          <div class="col"><a href="javascript:;"></a></div>
          <div class="col"><a href="javascript:;"></a></div>
        </div>
      </div>
    </ion-content>
  </ion-view>